.header{
  background-color: #FC997C;
  display: flex;
  align-items: baseline;
  flex-wrap: nowrap;
}
.header-div{
  flex: 1;
  padding: 15px;
}
.link{
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  flex-wrap: nowrap;
}
.link a:hover,.MovieApp a:hover{
  color: #2E4C6D;
}
.link-div{
  margin-left: 15px;
  margin-right: 15px;
}
.header a{
  text-decoration: none;
  color: aliceblue;
  font-size: 18px;
}
.MovieApp a{
  font-size: 25px;
}
.login a{
  border: 2px solid white;
  padding: 8px 16px;
  border-radius: 6px;
  background-color: #2E4C6D;
}
.login a:hover{
  color:  #2E4C6D;
  background-color: white;
  border: 2px solid #2E4C6D;
}